@mixin Background-Gradient($color1,$color2, $color3 ){
  background:linear-gradient(to right, $color1,$color2, $color3);
  
}
@mixin text-gradient($color1, $color2, $color3) {
  background: linear-gradient(45deg, $color1, $color2, $color3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}






