@import './Mixins';
@import './Variable';

.TodoPushCore{
    @include Background-Gradient(rgb(31, 31, 31), rgb(12, 12, 12),rgb(37, 0, 0));
      position: relative;
      top: 5vh;
      min-width: 14rem;
      width: auto ;
      max-width: 38% ;
      height: auto;
      min-height: 6vh;
      @extend %PushBorder;
      display: flex;
      gap: 2vh;
      padding: 1%;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      &:hover{
        border-color: rgb(189, 189, 0);
        filter: drop-shadow(0 0 0.6vh rgb(189, 189, 0));
      }

      p{
        font-size: 1.4rem;
      }
     
     
      .TodoItem{
      position: relative;
      overflow-wrap: break-word;
      word-break: break-word;
      hyphens: auto;
      orphans: 2;
      widows: 2;
      top: 2%;
      width: 90%;
      min-height: 8vh ;
      height: auto ;
      max-height: 40%;
      @include Background-Gradient(rgb(27, 27, 27), rgb(5, 4, 4),rgb(19, 19, 19));
      border-radius: 6%;
      
       
      
      
    .TodoItemHiddenContain{
       margin-bottom: 1%;
       margin-top: 1%;
       display: flex;
       justify-content:space-between;
       align-items: center;
       width: 100%;
       height: auto;
      h6{
        position: relative;
        padding: 1.2%;
        margin-right: auto;
        margin-left: 0.4vw;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        @include text-gradient(rgb(207, 207, 207), rgb(255, 255, 255), rgb(255, 255, 255));
        border: 0.1vh solid rgb(0, 88, 7);
        border-radius: 10%;
        width: auto;
        min-width: 4%;
        @extend %TextShadow;

        &:hover{
          border-color: rgb(0, 230, 0);
        }
       }
       h5{
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: rgb(145, 145, 145);
        position: relative;
        margin-left: auto;
        margin-right: 0.5vw;
        border: 0.1vh solid rgb(0, 92, 104);
        border-radius: 10%;
        width: auto;
        padding: 1%;
        &:hover{
          border-color: aqua;
          color:white;
        }}  
       }
       
       .TodoItemMiddleContain{
        margin-bottom: 2%;
        width: 100%;
        height: auto;
        p{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1.1rem;
        width: 80%;
        height: auto;
        min-height: 3rem ;
        border: 0.1vh solid rgb(13, 0, 85);
        padding: 1%;
        border-radius: 10%;
        text-align: left;
        &:hover{
          border-color: rgb(0, 0, 211);
        }
       }
      
        h3{
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-size: 1rem;
          width: 75%;
          border: 0.1vh solid rgb(7, 0, 66);
          padding: 1%;
          border-radius: 10%;
          @extend %TextShadow;
          &:hover{
            border-color: rgb(0, 0, 211);
          }
        }
      } 
        
          .TodoItemBottomContain{
            width: 100%;
            height: auto;
            margin-bottom: 2%;
            display: flex;
          
             button{
               background-color: $PrimaryBC;
               border: 0.1vh solid rgb(129, 0, 43);
               padding: 2% 3%;
               font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
               transition: 0.2s ease;
               &:hover{
                border-color: rgb(218, 0, 54);
                transform: translateY(-4%);
                filter: drop-shadow(0 0 0.8vh rgb(190, 0, 73));
               }
             }
            
            h4{
          font-family:cursive;
          margin-bottom: 1%;
          border: 0.1vh solid rgb(53, 0, 31);
          border-radius: 15%;
          width: 30%;
          padding: 1%;
           @extend %TextShadow;
   
         &:hover{
        text-shadow: 0 0 1vh rgb(255, 255, 255);
        border-color: rgb(199, 0, 109);
        }
       }     

}
        



}
    
    
      }








